.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
data-viz/inputs/GPP Qatar 2024 Questionnaire.pdf
data-viz/data/Qatar_final_2024.dta
/data-viz/outputs
data-viz/data/Qatar_partial_2024.dta
