.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
data-viz/inputs/GPP Qatar 2024 Questionnaire.pdf
data-viz/data/Qatar_final_2024.dta
/data-viz/outputs
data-viz/data/Qatar_partial_2024.dta
html/The-Rule-of-Law-in-Qatar-v3.pdf
data-viz/data/roli_data.xlsx
html/The-Rule-of-Law-in-Qatar-v7.pdf
html/The-Rule-of-Law-in-Qatar-v8.pdf
html/The-Rule-of-Law-in-Qatar-v9.pdf
html/The-Rule-of-Law-in-Qatar-v10.pdf
